html{
    scroll-behavior: smooth;
}
body{
    background-color: #1f2937;
    margin: 0;
    text-shadow: 2px 4px 10px #000;
}

header ul{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    list-style: none;
    color: #b9b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap: 2.3rem;
    height: 2.5rem;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.24);   
}
header li a{
    color: #b9b9b9;
    padding: 0.14rem 0;
    text-decoration: none;
    border-bottom: 1.6px solid transparent;
}
header li a:hover{
    cursor: pointer;
    color: #ffe2ad;
    border-color: #ffe2ad;
}
.seleccionado{
    color: #ffe2ad;
    border-color: #ffe2ad;
}
#home{
    height: 47.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.6rem;
    
}
#home p{
    color: #9e9e9e;
    font-size: 2.4rem;
    margin: 0;
}
#home h1{
    color: #fff;
    font-size: 7rem;
    margin: 0;
}
#home h3{
    font-size: 2.3rem;
    color: #FFEDCB;
    margin: 0;
}
#home div{ 
    height: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}
#home div svg{
    height: 2rem;
    fill: #9e9e9e;
}
#home div svg:hover{
    fill: #fff;
    scale: 0.9;
}
#sobreMi{
    min-height: 47.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start  ;
    background-color: #374151;
    padding: 4rem ;
    gap: 1.5rem;
}
#sobreMi h2{
    font-size: 6rem;
    color: #ffe2ad;

    margin: 1.5rem auto;
}
.list-sobreMi{
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 3.2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #1f2937;
    padding: 0.6rem 1rem;
    border-radius: 10px;
}
li{
    border-bottom: 2px solid transparent;
}
.list-sobreMi li:hover{
    cursor: pointer;
    color: #ffe2ad;
    border-bottom: 2px solid #ffe2ad;
}
.contenedor{
    width: 40rem;
    background-color:#1f2937;
    min-height: 9rem;
    font-size: 1.2rem;
    padding: 1.2rem 2.4rem;
    font-weight: bold;
    color: #d1d1d1;
    border-radius: 14px;
}
.perfil-content{
    display: flex;
    align-items:center ;  
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.perfil-content a{
    color:#ffe2ad;
    border: 1.3px solid #ffe2ad;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 1.6rem;
    margin-bottom: 0.8rem;
}
.perfil-content a:hover{
    cursor: pointer;
    background-color: #ffe2adc5;
    color: #1f2937;
    transition: 0.6s;
}
.estudios-content{
    font-size: 1.2rem;
    list-style-type: none;
    padding-left: 0;
    color: #FFEDCB;
    flex-direction: column;
    display: none;
}
.estudios-content p{
    padding-left: 1.4rem;
    color: #d1d1d1;
    border-left: 1px solid #d1d1d1;
}
.estudios-content span{
    font-size: 2.5rem;
    position: relative;
    left: -0.22rem;
}
.skills-content{
    list-style: none;
    text-align: center;
    padding-left: 0;
    flex-direction: column;
    display: none;
    
}
.skills-content li{
    margin-top: 0.5rem;
}
.skills-content div{
    width:10rem;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: left;
}
.skills-content li img{
    height: 3.2rem;
}
.separacion1{
    background: linear-gradient(180deg, #1f2937, #374151);
    height: 5rem;
    
} 
.separacion2{
    background: linear-gradient(180deg, #374151,#1f2937);
    height: 5rem;
}
#proyectos{
    min-height: 47.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem ;
}
#proyectos h2{
    font-size: 6rem;
    color: #ffe2ad;
    margin: 2rem auto;
}
.proyecto{
    display: flex;
    justify-content: center;
    min-height: 25rem;
    width: 98%;
    padding: 1.5rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}
.proyecto-item{
    width: 48%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 8px 2.6rem #000;
    border-radius: 0.7rem;
    background-color: #374151;
}
.adelante{
    height: 100%;
    width: 100%;
    backface-visibility:hidden;
    transition: 0.5s;
}
.proyecto-item:hover .adelante{
    transform: perspective(34.5rem) rotateY(180deg);
    cursor: pointer;
}
.atras{
    transform: perspective(34.5rem) rotateY(180deg);
    backface-visibility: hidden;
    background-color: #9e9e9e;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}
.proyecto-item:hover .atras{
    transform: perspective(34.5rem) rotateY(360deg);
    cursor: pointer;
}
.atras h3{
    font-size: 2rem;
    margin: 0.7rem 0;
    color: #fff;
}
.atras ul{
    padding-left: 0;
    display: flex;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.8rem;
    height: 4.5rem;
    margin: 0.5rem 1.5rem;
}
.atras ul img{
    height: 2.2rem;
}
.atras li{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.2rem;
    color: #fff;
}
.atras a{
    color: #fff;
    font-size: large;
    text-decoration: none;
    border:0.3rem solid #1f2937;
    height: 1.3rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 1.5rem;
    margin: 0.6rem;
    display:inline-flex;
    align-items: center;
    gap: 0.3rem;
}
.atras a:hover{
    background-color: #1f2937;
    transition: 0.8s;
}
footer{
    margin-bottom: 0.5rem;
    border-top: 1.5px solid #9e9e9e;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1rem;
}
footer ul svg{
    height: 2rem;
    fill: #9e9e9e;
}
footer ul svg:hover{
    fill: #fff;
    scale: 0.9;
}
footer div{
    color:#b9b9b9;
}
footer a{
    color: #fff;
    margin-left: 3px;
}
